
.chart-container {
  margin-top: 1%;
  width: 100%;
  padding: 10px;
}

.echart {
  width: 590px; /* Fixed width per chart */
  height: 400px; /* Adjust height as needed */
  flex: 1 1 590px; /* Ensures flexibility and wrapping */
  max-width: 100%;
}
