mat-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

mat-toolbar .nav-links {
  margin-left: auto;
  gap: 1rem;
  display: flex;
}

mat-toolbar .nav-links a {
  color: white;
}

main {
  width: 96%;        /* Adjust the width as needed */
  margin: 0 auto;
}
