.item-row{
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap onto the next line */
  border-bottom: 1px solid #ddd;
  padding: 5px;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.header{
  font-size: 16px; /* Adjust font size as needed */
  font-weight: bold; /* Makes the text bold */
  text-align: center; /* Ensures text inside is centered */
}

.header-container{
  display: flex;
  justify-content: center; /* Centers the header horizontally */
  align-items: center; /* Centers content vertically */
  width: 100%; /* Ensures it spans full width */
  padding: 10px 0; /* Adds some vertical padding */

}
